@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to the Online Book Store!</h1>
</div>

@foreach (var item in Model.Books)
{
<div class="container">
    <div class="card bg-light text-dark">
        <div class="card-body">
            <!--BOOTSTRAP CHANGE: used bootstrap to create float with spacing compared to using the style attribute
                also made this color green for the pill-->
            <span class="badge badge-pill badge-success p-2 float-md-right">
                <p class="card-text"><strong>Price:</strong> $@item.Price</p>
            </span>
            <h5 class="card-title"><strong>Book Title:</strong> @item.Title</h5>
            <p class="card-text"><strong>Book ID:</strong> @item.BookId</p>
            <p class="card-text"><strong>Author First Name:</strong> @item.AuthorFirstName</p>
            <p class="card-text"><strong>Author Middle Name:</strong> @item.AuthorMiddleName</p>
            <p class="card-text"><strong>Author Last Name:</strong> @item.AuthorLastName</p>
            <p class="card-text"><strong>Publisher:</strong> @item.Publisher</p>
            <p class="card-text"><strong>ISBN:</strong> @item.ISBN</p>
            <p class="card-text"><strong>Classification:</strong> @item.Classification</p>
            <p class="card-text"><strong>Category:</strong> @item.Category</p>
            <p class="card-text"><strong>Number of Pages:</strong> @item.NumberOfPages</p>
        </div>
    </div>
</div>
<br />
}

<!--BOOTSTRAP CHANGE Made the selected page green-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" w page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-success"
     class="btn-group pull-right m-1"></div>